In [1]:
import pandas as pd

In [2]:
d = ['Tofael', 'Nishat', 'Shiplu', 'Sayem', 'Farruk']

In [3]:
d

['Tofael', 'Nishat', 'Shiplu', 'Sayem', 'Farruk']

In [4]:
d[2]

'Shiplu'

In [5]:
d[4]

'Farruk'

In [6]:
d = pd.Series(['Tofael', 'Nishat', 'Shiplu', 'Sayem', 'Farruk'])

In [7]:
d

0    Tofael
1    Nishat
2    Shiplu
3     Sayem
4    Farruk
dtype: object

In [9]:
d[3]

'Sayem'

In [10]:
d[0]

'Tofael'

In [11]:
d={'Tofael':45, 'Nishat':43, 'Shiplu':42}

In [12]:
d

{'Tofael': 45, 'Nishat': 43, 'Shiplu': 42}

In [13]:
d_ser = pd.Series(d)

In [14]:
d_ser

Tofael    45
Nishat    43
Shiplu    42
dtype: int64

In [15]:
# one dimentional data -- series
# two dimensional data -- dataframe
# three dimensional -- panel

In [16]:
d_ser['Tofael']

45

In [17]:
d_ser['Shiplu']

42

In [18]:
dName = pd.Series(['Tofael', 'Nishat', 'Shiplu', 'Sayem', 'Farruk'], index = [483, 208, 504, 308, 223])

In [19]:
dName

483    Tofael
208    Nishat
504    Shiplu
308     Sayem
223    Farruk
dtype: object

In [22]:
dName[483]

'Tofael'

In [23]:
dName[308]

'Sayem'

In [24]:
d={2188458: 'Tofael', 218790: 'Nishat', 342345: 'Shiplu'} # key pair value

In [25]:
d

{2188458: 'Tofael', 218790: 'Nishat', 342345: 'Shiplu'}