In [2]:
import pandas as pd
import numpy as np
import random

In [10]:
df = pd. read_csv('4.csv')

In [11]:
df

,Column,Name,Age,Nationality,Student,QuestionText
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...
1,MainBranch,Tofael484,24,UK,N,Which of the following options best describes ...
2,Hobbyist,Tofael485,25,Germany,NaN,Do you code as a hobby?
3,OpenSourcer,Tofael486,26,China,NaN,How often do you contribute to open source?
4,OpenSource,Tofael487,27,France,N,How do you feel about the quality of open sour...
...,...,...,...,...,...,...
80,Sexuality,Tofael563,52,France,NaN,Which of the following do you currently identi...
81,Ethnicity,Tofael564,53,Bangladesh,NaN,Which of the following do you identify as? Ple...
82,Dependents,Tofael565,54,India,NaN,"Do you have any dependents (e.g., children, el..."
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...
84,SurveyEase,Tofael567,56,Morocco,N,How easy or difficult was this survey to compl...

In [12]:
bangladeshi = df[df['Nationality'] == 'Bangladesh']

In [13]:
bangladeshi

,Column,Name,Age,Nationality,Student,QuestionText
5,Employment,Tofael488,28,Bangladesh,N,Which of the following best describes your cur...
16,CareerSat,Tofael499,50,Bangladesh,N,"Overall, how satisfied are you with your caree..."
24,FizzBuzz,Tofael507,47,Bangladesh,N,Have you ever been asked to solve FizzBuzz in ...
35,WorkRemote,Tofael518,58,Bangladesh,N,How often do you work remotely?
43,LanguageWorkedWith,Tofael526,36,Bangladesh,Y,"Which of the following programming, scripting,..."
54,OpSys,Tofael537,77,Bangladesh,N,What is the primary operating system in which ...
62,Extraversion,Tofael545,56,Bangladesh,NaN,Do you prefer online chat or IRL conversations?
73,EntTeams,Tofael556,96,Bangladesh,Y,Have you ever used Stack Overflow for Enterpri...
81,Ethnicity,Tofael564,53,Bangladesh,NaN,Which of the following do you identify as? Ple...

In [14]:
others = df[df['Nationality'] != 'Bangladesh']
# not equal

In [15]:
others

,Column,Name,Age,Nationality,Student,QuestionText
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...
1,MainBranch,Tofael484,24,UK,N,Which of the following options best describes ...
2,Hobbyist,Tofael485,25,Germany,NaN,Do you code as a hobby?
3,OpenSourcer,Tofael486,26,China,NaN,How often do you contribute to open source?
4,OpenSource,Tofael487,27,France,N,How do you feel about the quality of open sour...
...,...,...,...,...,...,...
79,Trans,Tofael562,51,China,N,Do you identify as transgender?
80,Sexuality,Tofael563,52,France,NaN,Which of the following do you currently identi...
82,Dependents,Tofael565,54,India,NaN,"Do you have any dependents (e.g., children, el..."
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...
84,SurveyEase,Tofael567,56,Morocco,N,How easy or difficult was this survey to compl...

In [20]:
student = df[df['Student'] == 'Y']

In [21]:
student

,Column,Name,Age,Nationality,Student,QuestionText
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...
6,Country,Tofael489,29,India,Y,In which country do you currently reside?
8,EdLevel,Tofael491,49,Morocco,Y,Which of the following best describes the high...
11,OrgSize,Tofael494,52,USA,Y,Approximately how many people are employed by ...
12,DevType,Tofael495,53,UK,Y,Which of the following describe you? Please se...
13,YearsCode,Tofael496,54,Germany,Y,"Including any education, how many years have y..."
15,YearsCodePro,Tofael498,49,France,Y,How many years have you coded professionally (...
21,JobSeek,Tofael504,44,Germany,Y,Which of the following best describes your cur...
23,LastInt,Tofael506,46,France,Y,In your most recent successful job interview (...
26,ResumeUpdate,Tofael509,49,Pakistan,Y,Think back to the last time you updated your r...
27,CurrencySymbol,Tofael510,50,Morocco,Y,Which currency do you use day-to-day? If your ...
28,CurrencyDesc,Tofael511,51,Saufdi Arabia,Y,Which currency do you use day-to-day? If your ...
30,CompFreq,Tofael513,53,USA,Y,"Is that compensation weekly, monthly, or yearly?"
36,WorkLoc,Tofael519,59,India,Y,Where would you prefer to work?
38,CodeRev,Tofael521,31,USA,Y,Do you review code as part of your work?
42,PurchaseWhat,Tofael525,35,France,Y,"What level of influence do you, personally, ha..."
43,LanguageWorkedWith,Tofael526,36,Bangladesh,Y,"Which of the following programming, scripting,..."
45,DatabaseWorkedWith,Tofael528,38,Pakistan,Y,Which of the following database environments h...
51,MiscTechWorkedWith,Tofael534,74,Germany,Y,"Which of the following other frameworks, libra..."
53,DevEnviron,Tofael536,76,France,Y,Which development environment(s) do you use re...
56,BlockchainOrg,Tofael539,79,Pakistan,Y,How is your organization thinking about or imp...
57,BlockchainIs,Tofael540,80,USA,Y,Blockchain / cryptocurrency technology is prim...
58,BetterLife,Tofael541,34,UK,Y,Do you think people born today will have a bet...
60,OffOn,Tofael543,36,China,Y,Have you tried turning it off and on again?
66,SOVisitTo,Tofael549,89,Saufdi Arabia,Y,I visit Stack Overflow to... (check all that a...
68,SOTimeSaved,Tofael551,91,USA,Y,Think back to the last time you solved a codin...
71,SOPartFreq,Tofael554,94,China,Y,How frequently would you say you participate i...
72,SOJobs,Tofael555,95,France,Y,Have you ever used or visited Stack Overflow J...
73,EntTeams,Tofael556,96,Bangladesh,Y,Have you ever used Stack Overflow for Enterpri...
75,WelcomeChange,Tofael558,98,Pakistan,Y,"Compared to last year, how welcome do you feel..."
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...

In [22]:
Notstudent = df[df['Student'] != 'Y']

In [23]:
Notstudent

,Column,Name,Age,Nationality,Student,QuestionText
1,MainBranch,Tofael484,24,UK,N,Which of the following options best describes ...
2,Hobbyist,Tofael485,25,Germany,NaN,Do you code as a hobby?
3,OpenSourcer,Tofael486,26,China,NaN,How often do you contribute to open source?
4,OpenSource,Tofael487,27,France,N,How do you feel about the quality of open sour...
5,Employment,Tofael488,28,Bangladesh,N,Which of the following best describes your cur...
7,Student,Tofael490,48,Pakistan,N,"Are you currently enrolled in a formal, degree..."
9,UndergradMajor,Tofael492,50,Saufdi Arabia,N,What was your main or most important field of ...
10,EduOther,Tofael493,51,Canada,NaN,Which of the following types of non-degree edu...
14,Age1stCode,Tofael497,48,China,N,At what age did you write your first line of c...
16,CareerSat,Tofael499,50,Bangladesh,N,"Overall, how satisfied are you with your caree..."
17,JobSat,Tofael500,51,India,N,How satisfied are you with your current job? (...
18,MgrIdiot,Tofael501,52,Pakistan,NaN,How confident are you that your manager knows ...
19,MgrMoney,Tofael502,53,USA,NaN,Do you believe that you need to be a manager t...
20,MgrWant,Tofael503,54,UK,N,Do you want to become a manager yourself in th...
22,LastHireDate,Tofael505,45,China,N,When was the last time that you took a job wit...
24,FizzBuzz,Tofael507,47,Bangladesh,N,Have you ever been asked to solve FizzBuzz in ...
25,JobFactors,Tofael508,48,India,N,Imagine that you are deciding between two job ...
29,CompTotal,Tofael512,52,Canada,N,What is your current total compensation (salar...
31,ConvertedComp,Tofael514,54,UK,NaN,Salary converted to annual USD salaries using ...
32,WorkWeekHrs,Tofael515,55,Germany,N,"On average, how many hours per week do you work?"
33,WorkPlan,Tofael516,56,China,N,How structured or planned is your work?
34,WorkChallenge,Tofael517,57,France,N,"Of these options, what are your greatest chall..."
35,WorkRemote,Tofael518,58,Bangladesh,N,How often do you work remotely?
37,ImpSyn,Tofael520,30,Pakistan,N,"For the specific work you do, and the years of..."
39,CodeRevHrs,Tofael522,32,UK,N,"On average, how many hours per week do you spe..."
40,UnitTests,Tofael523,33,Germany,NaN,Does your company regularly employ unit tests ...
41,PurchaseHow,Tofael524,34,China,NaN,How does your company make decisions about pur...
44,LanguageDesireNextYear,Tofael527,37,India,N,"Which of the following programming, scripting,..."
46,DatabaseDesireNextYear,Tofael529,39,Morocco,N,Which of the following database environments h...
47,PlatformWorkedWith,Tofael530,40,Saufdi Arabia,N,Which of the following platforms have you done...
48,PlatformDesireNextYear,Tofael531,41,Canada,N,Which of the following platforms have you done...
49,WebFrameWorkedWith,Tofael532,42,USA,N,Which of the following web frameworks have you...
50,WebFrameDesireNextYear,Tofael533,43,UK,N,Which of the following web frameworks have you...
52,MiscTechDesireNextYear,Tofael535,75,China,N,"Which of the following other frameworks, libra..."
54,OpSys,Tofael537,77,Bangladesh,N,What is the primary operating system in which ...
55,Containers,Tofael538,78,India,N,"How do you use containers (Docker, Open Contai..."
59,ITperson,Tofael542,35,Germany,N,"Are you the ""IT support person"" for your family?"
61,SocialMedia,Tofael544,37,France,NaN,What social media site do you use the most?
62,Extraversion,Tofael545,56,Bangladesh,NaN,Do you prefer online chat or IRL conversations?
63,ScreenName,Tofael546,65,India,NaN,What do you call it?
64,SOVisit1st,Tofael547,34,Pakistan,N,"To the best of your memory, when did you first..."
65,SOVisitFreq,Tofael548,88,Morocco,N,How frequently would you say you visit Stack O...
67,SOFindAnswer,Tofael550,90,Canada,N,"On average, how many times a week do you find ..."
69,SOHowMuchTime,Tofael552,92,UK,N,About how much time did you save? If you're no...
70,SOAccount,Tofael553,93,Germany,N,Do you have a Stack Overflow account?
74,SOComm,Tofael557,97,India,N,Do you consider yourself a member of the Stack...
76,SONewContent,Tofael559,48,USA,N,Would you like to see any of the following on ...
77,Age,Tofael560,49,UK,N,What is your age (in years)? If you prefer not...
78,Gender,Tofael561,50,Germany,N,Which of the following do you currently identi...
79,Trans,Tofael562,51,China,N,Do you identify as transgender?
80,Sexuality,Tofael563,52,France,NaN,Which of the following do you currently identi...
81,Ethnicity,Tofael564,53,Bangladesh,NaN,Which of the following do you identify as? Ple...
82,Dependents,Tofael565,54,India,NaN,"Do you have any dependents (e.g., children, el..."
84,SurveyEase,Tofael567,56,Morocco,N,How easy or difficult was this survey to compl...

In [31]:
df1 = df[(df['Nationality'] == 'Bangladesh') & (df['Age'] != '23')]
# & = and | = or

/Users/mohammadsharkar/opt/anaconda3/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [32]:
df1

,Column,Name,Age,Nationality,Student,QuestionText
5,Employment,Tofael488,28,Bangladesh,N,Which of the following best describes your cur...
16,CareerSat,Tofael499,50,Bangladesh,N,"Overall, how satisfied are you with your caree..."
24,FizzBuzz,Tofael507,47,Bangladesh,N,Have you ever been asked to solve FizzBuzz in ...
35,WorkRemote,Tofael518,58,Bangladesh,N,How often do you work remotely?
43,LanguageWorkedWith,Tofael526,36,Bangladesh,Y,"Which of the following programming, scripting,..."
54,OpSys,Tofael537,77,Bangladesh,N,What is the primary operating system in which ...
62,Extraversion,Tofael545,56,Bangladesh,NaN,Do you prefer online chat or IRL conversations?
73,EntTeams,Tofael556,96,Bangladesh,Y,Have you ever used Stack Overflow for Enterpri...
81,Ethnicity,Tofael564,53,Bangladesh,NaN,Which of the following do you identify as? Ple...

In [35]:
df1 = df[(df['Nationality'] == 'Bangladesh') | (df['Student'] == 'Y')]

In [36]:
df1

,Column,Name,Age,Nationality,Student,QuestionText
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...
5,Employment,Tofael488,28,Bangladesh,N,Which of the following best describes your cur...
6,Country,Tofael489,29,India,Y,In which country do you currently reside?
8,EdLevel,Tofael491,49,Morocco,Y,Which of the following best describes the high...
11,OrgSize,Tofael494,52,USA,Y,Approximately how many people are employed by ...
12,DevType,Tofael495,53,UK,Y,Which of the following describe you? Please se...
13,YearsCode,Tofael496,54,Germany,Y,"Including any education, how many years have y..."
15,YearsCodePro,Tofael498,49,France,Y,How many years have you coded professionally (...
16,CareerSat,Tofael499,50,Bangladesh,N,"Overall, how satisfied are you with your caree..."
21,JobSeek,Tofael504,44,Germany,Y,Which of the following best describes your cur...
23,LastInt,Tofael506,46,France,Y,In your most recent successful job interview (...
24,FizzBuzz,Tofael507,47,Bangladesh,N,Have you ever been asked to solve FizzBuzz in ...
26,ResumeUpdate,Tofael509,49,Pakistan,Y,Think back to the last time you updated your r...
27,CurrencySymbol,Tofael510,50,Morocco,Y,Which currency do you use day-to-day? If your ...
28,CurrencyDesc,Tofael511,51,Saufdi Arabia,Y,Which currency do you use day-to-day? If your ...
30,CompFreq,Tofael513,53,USA,Y,"Is that compensation weekly, monthly, or yearly?"
35,WorkRemote,Tofael518,58,Bangladesh,N,How often do you work remotely?
36,WorkLoc,Tofael519,59,India,Y,Where would you prefer to work?
38,CodeRev,Tofael521,31,USA,Y,Do you review code as part of your work?
42,PurchaseWhat,Tofael525,35,France,Y,"What level of influence do you, personally, ha..."
43,LanguageWorkedWith,Tofael526,36,Bangladesh,Y,"Which of the following programming, scripting,..."
45,DatabaseWorkedWith,Tofael528,38,Pakistan,Y,Which of the following database environments h...
51,MiscTechWorkedWith,Tofael534,74,Germany,Y,"Which of the following other frameworks, libra..."
53,DevEnviron,Tofael536,76,France,Y,Which development environment(s) do you use re...
54,OpSys,Tofael537,77,Bangladesh,N,What is the primary operating system in which ...
56,BlockchainOrg,Tofael539,79,Pakistan,Y,How is your organization thinking about or imp...
57,BlockchainIs,Tofael540,80,USA,Y,Blockchain / cryptocurrency technology is prim...
58,BetterLife,Tofael541,34,UK,Y,Do you think people born today will have a bet...
60,OffOn,Tofael543,36,China,Y,Have you tried turning it off and on again?
62,Extraversion,Tofael545,56,Bangladesh,NaN,Do you prefer online chat or IRL conversations?
66,SOVisitTo,Tofael549,89,Saufdi Arabia,Y,I visit Stack Overflow to... (check all that a...
68,SOTimeSaved,Tofael551,91,USA,Y,Think back to the last time you solved a codin...
71,SOPartFreq,Tofael554,94,China,Y,How frequently would you say you participate i...
72,SOJobs,Tofael555,95,France,Y,Have you ever used or visited Stack Overflow J...
73,EntTeams,Tofael556,96,Bangladesh,Y,Have you ever used Stack Overflow for Enterpri...
75,WelcomeChange,Tofael558,98,Pakistan,Y,"Compared to last year, how welcome do you feel..."
81,Ethnicity,Tofael564,53,Bangladesh,NaN,Which of the following do you identify as? Ple...
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...

In [38]:
df1 = df[(df['Nationality'] != 'Bangladesh') & (df['Age'] != '23') | (df['Student'] == 'Y')]

In [39]:
df1

,Column,Name,Age,Nationality,Student,QuestionText
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...
1,MainBranch,Tofael484,24,UK,N,Which of the following options best describes ...
2,Hobbyist,Tofael485,25,Germany,NaN,Do you code as a hobby?
3,OpenSourcer,Tofael486,26,China,NaN,How often do you contribute to open source?
4,OpenSource,Tofael487,27,France,N,How do you feel about the quality of open sour...
...,...,...,...,...,...,...
79,Trans,Tofael562,51,China,N,Do you identify as transgender?
80,Sexuality,Tofael563,52,France,NaN,Which of the following do you currently identi...
82,Dependents,Tofael565,54,India,NaN,"Do you have any dependents (e.g., children, el..."
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...
84,SurveyEase,Tofael567,56,Morocco,N,How easy or difficult was this survey to compl...

In [54]:
df1 = df[(df['Age']> 33) & (df['Age']<45)]

In [55]:
df1

,Column,Name,Age,Nationality,Student,QuestionText
21,JobSeek,Tofael504,44,Germany,Y,Which of the following best describes your cur...
41,PurchaseHow,Tofael524,34,China,NaN,How does your company make decisions about pur...
42,PurchaseWhat,Tofael525,35,France,Y,"What level of influence do you, personally, ha..."
43,LanguageWorkedWith,Tofael526,36,Bangladesh,Y,"Which of the following programming, scripting,..."
44,LanguageDesireNextYear,Tofael527,37,India,N,"Which of the following programming, scripting,..."
45,DatabaseWorkedWith,Tofael528,38,Pakistan,Y,Which of the following database environments h...
46,DatabaseDesireNextYear,Tofael529,39,Morocco,N,Which of the following database environments h...
47,PlatformWorkedWith,Tofael530,40,Saufdi Arabia,N,Which of the following platforms have you done...
48,PlatformDesireNextYear,Tofael531,41,Canada,N,Which of the following platforms have you done...
49,WebFrameWorkedWith,Tofael532,42,USA,N,Which of the following web frameworks have you...
50,WebFrameDesireNextYear,Tofael533,43,UK,N,Which of the following web frameworks have you...
58,BetterLife,Tofael541,34,UK,Y,Do you think people born today will have a bet...
59,ITperson,Tofael542,35,Germany,N,"Are you the ""IT support person"" for your family?"
60,OffOn,Tofael543,36,China,Y,Have you tried turning it off and on again?
61,SocialMedia,Tofael544,37,France,NaN,What social media site do you use the most?
64,SOVisit1st,Tofael547,34,Pakistan,N,"To the best of your memory, when did you first..."

In [58]:
# group by value

In [59]:
df1

,Column,Name,Age,Nationality,Student,QuestionText
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...
1,MainBranch,Tofael484,24,UK,N,Which of the following options best describes ...
2,Hobbyist,Tofael485,25,Germany,NaN,Do you code as a hobby?
3,OpenSourcer,Tofael486,26,China,NaN,How often do you contribute to open source?
4,OpenSource,Tofael487,27,France,N,How do you feel about the quality of open sour...
...,...,...,...,...,...,...
80,Sexuality,Tofael563,52,France,NaN,Which of the following do you currently identi...
81,Ethnicity,Tofael564,53,Bangladesh,NaN,Which of the following do you identify as? Ple...
82,Dependents,Tofael565,54,India,NaN,"Do you have any dependents (e.g., children, el..."
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...
84,SurveyEase,Tofael567,56,Morocco,N,How easy or difficult was this survey to compl...

In [60]:
df

,Column,Name,Age,Nationality,Student,QuestionText
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...
1,MainBranch,Tofael484,24,UK,N,Which of the following options best describes ...
2,Hobbyist,Tofael485,25,Germany,NaN,Do you code as a hobby?
3,OpenSourcer,Tofael486,26,China,NaN,How often do you contribute to open source?
4,OpenSource,Tofael487,27,France,N,How do you feel about the quality of open sour...
...,...,...,...,...,...,...
80,Sexuality,Tofael563,52,France,NaN,Which of the following do you currently identi...
81,Ethnicity,Tofael564,53,Bangladesh,NaN,Which of the following do you identify as? Ple...
82,Dependents,Tofael565,54,India,NaN,"Do you have any dependents (e.g., children, el..."
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...
84,SurveyEase,Tofael567,56,Morocco,N,How easy or difficult was this survey to compl...

In [68]:
# creating a list name 'a'
a = []
for i in range (0, 85):
    a.append(random.randint(0,7))

In [69]:
df ['Children'] = a

In [70]:
df

,Column,Name,Age,Nationality,Student,QuestionText,children,Children
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...,5,4
1,MainBranch,Tofael484,24,UK,N,Which of the following options best describes ...,5,3
2,Hobbyist,Tofael485,25,Germany,NaN,Do you code as a hobby?,1,5
3,OpenSourcer,Tofael486,26,China,NaN,How often do you contribute to open source?,3,7
4,OpenSource,Tofael487,27,France,N,How do you feel about the quality of open sour...,1,1
...,...,...,...,...,...,...,...,...
80,Sexuality,Tofael563,52,France,NaN,Which of the following do you currently identi...,7,5
81,Ethnicity,Tofael564,53,Bangladesh,NaN,Which of the following do you identify as? Ple...,7,2
82,Dependents,Tofael565,54,India,NaN,"Do you have any dependents (e.g., children, el...",4,1
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...,4,4
84,SurveyEase,Tofael567,56,Morocco,N,How easy or difficult was this survey to compl...,6,0

In [71]:
df[df['Children'] == 4]

,Column,Name,Age,Nationality,Student,QuestionText,children,Children
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...,5,4
15,YearsCodePro,Tofael498,49,France,Y,How many years have you coded professionally (...,5,4
22,LastHireDate,Tofael505,45,China,N,When was the last time that you took a job wit...,0,4
23,LastInt,Tofael506,46,France,Y,In your most recent successful job interview (...,7,4
26,ResumeUpdate,Tofael509,49,Pakistan,Y,Think back to the last time you updated your r...,6,4
33,WorkPlan,Tofael516,56,China,N,How structured or planned is your work?,3,4
51,MiscTechWorkedWith,Tofael534,74,Germany,Y,"Which of the following other frameworks, libra...",3,4
55,Containers,Tofael538,78,India,N,"How do you use containers (Docker, Open Contai...",0,4
57,BlockchainIs,Tofael540,80,USA,Y,Blockchain / cryptocurrency technology is prim...,1,4
60,OffOn,Tofael543,36,China,Y,Have you tried turning it off and on again?,6,4
71,SOPartFreq,Tofael554,94,China,Y,How frequently would you say you participate i...,1,4
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...,4,4

In [72]:
dfN = df[['Column', 'Name', 'Age', 'Nationality', 'Student', 'QuestionText', 'Children']]

In [73]:
dfN

,Column,Name,Age,Nationality,Student,QuestionText,Children
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...,4
1,MainBranch,Tofael484,24,UK,N,Which of the following options best describes ...,3
2,Hobbyist,Tofael485,25,Germany,NaN,Do you code as a hobby?,5
3,OpenSourcer,Tofael486,26,China,NaN,How often do you contribute to open source?,7
4,OpenSource,Tofael487,27,France,N,How do you feel about the quality of open sour...,1
...,...,...,...,...,...,...,...
80,Sexuality,Tofael563,52,France,NaN,Which of the following do you currently identi...,5
81,Ethnicity,Tofael564,53,Bangladesh,NaN,Which of the following do you identify as? Ple...,2
82,Dependents,Tofael565,54,India,NaN,"Do you have any dependents (e.g., children, el...",1
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...,4
84,SurveyEase,Tofael567,56,Morocco,N,How easy or difficult was this survey to compl...,0

In [81]:
dfN1=dfN[dfN['Children'] == 4]

In [82]:
dfN1

,Column,Name,Age,Nationality,Student,QuestionText,Children
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...,4
15,YearsCodePro,Tofael498,49,France,Y,How many years have you coded professionally (...,4
22,LastHireDate,Tofael505,45,China,N,When was the last time that you took a job wit...,4
23,LastInt,Tofael506,46,France,Y,In your most recent successful job interview (...,4
26,ResumeUpdate,Tofael509,49,Pakistan,Y,Think back to the last time you updated your r...,4
33,WorkPlan,Tofael516,56,China,N,How structured or planned is your work?,4
51,MiscTechWorkedWith,Tofael534,74,Germany,Y,"Which of the following other frameworks, libra...",4
55,Containers,Tofael538,78,India,N,"How do you use containers (Docker, Open Contai...",4
57,BlockchainIs,Tofael540,80,USA,Y,Blockchain / cryptocurrency technology is prim...,4
60,OffOn,Tofael543,36,China,Y,Have you tried turning it off and on again?,4
71,SOPartFreq,Tofael554,94,China,Y,How frequently would you say you participate i...,4
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...,4

In [83]:
dfN1.shape

(12, 7)

In [86]:
dfN1.shape[1]
# 0 represent rows, 1 represent columns

7

In [87]:
dfN1.shape[0]

12

In [88]:
h = dfN.groupby('Children')
# h is not printing

In [90]:
for i in h:
    print(i)
# printed the whole dataframe by group, all the columns are selected, specially the questionText taking wide space

(0,                     Column       Name  Age    Nationality Student  \
8                  EdLevel  Tofael491   49        Morocco       Y
10                EduOther  Tofael493   51         Canada     NaN
12                 DevType  Tofael495   53             UK       Y
17                  JobSat  Tofael500   51          India       N
19                MgrMoney  Tofael502   53            USA     NaN
28            CurrencyDesc  Tofael511   51  Saufdi Arabia       Y
31           ConvertedComp  Tofael514   54             UK     NaN
32             WorkWeekHrs  Tofael515   55        Germany       N
44  LanguageDesireNextYear  Tofael527   37          India       N
59                ITperson  Tofael542   35        Germany       N
63              ScreenName  Tofael546   65          India     NaN
68             SOTimeSaved  Tofael551   91            USA       Y
69           SOHowMuchTime  Tofael552   92             UK       N
73                EntTeams  Tofael556   96     Bangladesh       Y
84              SurveyEase  Tofael567   56        Morocco       N

                                         QuestionText  Children
8   Which of the following best describes the high...         0
10  Which of the following types of non-degree edu...         0
12  Which of the following describe you? Please se...         0
17  How satisfied are you with your current job? (...         0
19  Do you believe that you need to be a manager t...         0
28  Which currency do you use day-to-day? If your ...         0
31  Salary converted to annual USD salaries using ...         0
32   On average, how many hours per week do you work?         0
44  Which of the following programming, scripting,...         0
59   Are you the "IT support person" for your family?         0
63                               What do you call it?         0
68  Think back to the last time you solved a codin...         0
69  About how much time did you save? If you're no...         0
73  Have you ever used Stack Overflow for Enterpri...         0
84  How easy or difficult was this survey to compl...         0  )
(1,            Column       Name  Age    Nationality Student  \
4      OpenSource  Tofael487   27         France       N
14     Age1stCode  Tofael497   48          China       N
16      CareerSat  Tofael499   50     Bangladesh       N
38        CodeRev  Tofael521   31            USA       Y
54          OpSys  Tofael537   77     Bangladesh       N
66      SOVisitTo  Tofael549   89  Saufdi Arabia       Y
70      SOAccount  Tofael553   93        Germany       N
72         SOJobs  Tofael555   95         France       Y
75  WelcomeChange  Tofael558   98       Pakistan       Y
78         Gender  Tofael561   50        Germany       N
82     Dependents  Tofael565   54          India     NaN

                                         QuestionText  Children
4   How do you feel about the quality of open sour...         1
14  At what age did you write your first line of c...         1
16  Overall, how satisfied are you with your caree...         1
38           Do you review code as part of your work?         1
54  What is the primary operating system in which ...         1
66  I visit Stack Overflow to... (check all that a...         1
70              Do you have a Stack Overflow account?         1
72  Have you ever used or visited Stack Overflow J...         1
75  Compared to last year, how welcome do you feel...         1
78  Which of the following do you currently identi...         1
82  Do you have any dependents (e.g., children, el...         1  )
(2,                     Column       Name  Age Nationality Student  \
18                MgrIdiot  Tofael501   52    Pakistan     NaN
21                 JobSeek  Tofael504   44     Germany       Y
42            PurchaseWhat  Tofael525   35      France       Y
43      LanguageWorkedWith  Tofael526   36  Bangladesh       Y
45      DatabaseWorkedWith  Tofael528   38    Pakistan       Y
46  DatabaseDesireNextYear  Tofael529   39     Morocco       N
58              BetterLife  Tofael541   34          UK       Y
67            SOFindAnswer  Tofael550   90      Canada       N
77                     Age  Tofael560   49          UK       N
81               Ethnicity  Tofael564   53  Bangladesh     NaN

                                         QuestionText  Children
18  How confident are you that your manager knows ...         2
21  Which of the following best describes your cur...         2
42  What level of influence do you, personally, ha...         2
43  Which of the following programming, scripting,...         2
45  Which of the following database environments h...         2
46  Which of the following database environments h...         2
58  Do you think people born today will have a bet...         2
67  On average, how many times a week do you find ...         2
77  What is your age (in years)? If you prefer not...         2
81  Which of the following do you identify as? Ple...         2  )
(3,                     Column       Name  Age Nationality Student  \
1               MainBranch  Tofael484   24          UK       N
5               Employment  Tofael488   28  Bangladesh       N
6                  Country  Tofael489   29       India       Y
29               CompTotal  Tofael512   52      Canada       N
39              CodeRevHrs  Tofael522   32          UK       N
41             PurchaseHow  Tofael524   34       China     NaN
48  PlatformDesireNextYear  Tofael531   41      Canada       N
76            SONewContent  Tofael559   48         USA       N

                                         QuestionText  Children
1   Which of the following options best describes ...         3
5   Which of the following best describes your cur...         3
6           In which country do you currently reside?         3
29  What is your current total compensation (salar...         3
39  On average, how many hours per week do you spe...         3
41  How does your company make decisions about pur...         3
48  Which of the following platforms have you done...         3
76  Would you like to see any of the following on ...         3  )
(4,                 Column       Name  Age Nationality Student  \
0           Respondent  Tofael483   23         USA       Y
15        YearsCodePro  Tofael498   49      France       Y
22        LastHireDate  Tofael505   45       China       N
23             LastInt  Tofael506   46      France       Y
26        ResumeUpdate  Tofael509   49    Pakistan       Y
33            WorkPlan  Tofael516   56       China       N
51  MiscTechWorkedWith  Tofael534   74     Germany       Y
55          Containers  Tofael538   78       India       N
57        BlockchainIs  Tofael540   80         USA       Y
60               OffOn  Tofael543   36       China       Y
71          SOPartFreq  Tofael554   94       China       Y
83        SurveyLength  Tofael566   55    Pakistan       Y

                                         QuestionText  Children
0   Randomized respondent ID number (not in order ...         4
15  How many years have you coded professionally (...         4
22  When was the last time that you took a job wit...         4
23  In your most recent successful job interview (...         4
26  Think back to the last time you updated your r...         4
33            How structured or planned is your work?         4
51  Which of the following other frameworks, libra...         4
55  How do you use containers (Docker, Open Contai...         4
57  Blockchain / cryptocurrency technology is prim...         4
60        Have you tried turning it off and on again?         4
71  How frequently would you say you participate i...         4
83  How do you feel about the length of the survey...         4  )
(5,            Column       Name  Age Nationality Student  \
2        Hobbyist  Tofael485   25     Germany     NaN
7         Student  Tofael490   48    Pakistan       N
13      YearsCode  Tofael496   54     Germany       Y
20        MgrWant  Tofael503   54          UK       N
35     WorkRemote  Tofael518   58  Bangladesh       N
37         ImpSyn  Tofael520   30    Pakistan       N
40      UnitTests  Tofael523   33     Germany     NaN
56  BlockchainOrg  Tofael539   79    Pakistan       Y
65    SOVisitFreq  Tofael548   88     Morocco       N
74         SOComm  Tofael557   97       India       N
80      Sexuality  Tofael563   52      France     NaN

                                         QuestionText  Children
2                             Do you code as a hobby?         5
7   Are you currently enrolled in a formal, degree...         5
13  Including any education, how many years have y...         5
20  Do you want to become a manager yourself in th...         5
35                    How often do you work remotely?         5
37  For the specific work you do, and the years of...         5
40  Does your company regularly employ unit tests ...         5
56  How is your organization thinking about or imp...         5
65  How frequently would you say you visit Stack O...         5
74  Do you consider yourself a member of the Stack...         5
80  Which of the following do you currently identi...         5  )
(6,                     Column       Name  Age    Nationality Student  \
9           UndergradMajor  Tofael492   50  Saufdi Arabia       N
24                FizzBuzz  Tofael507   47     Bangladesh       N
27          CurrencySymbol  Tofael510   50        Morocco       Y
30                CompFreq  Tofael513   53            USA       Y
36                 WorkLoc  Tofael519   59          India       Y
50  WebFrameDesireNextYear  Tofael533   43             UK       N
53              DevEnviron  Tofael536   76         France       Y
61             SocialMedia  Tofael544   37         France     NaN
64              SOVisit1st  Tofael547   34       Pakistan       N

                                         QuestionText  Children
9   What was your main or most important field of ...         6
24  Have you ever been asked to solve FizzBuzz in ...         6
27  Which currency do you use day-to-day? If your ...         6
30   Is that compensation weekly, monthly, or yearly?         6
36                    Where would you prefer to work?         6
50  Which of the following web frameworks have you...         6
53  Which development environment(s) do you use re...         6
61        What social media site do you use the most?         6
64  To the best of your memory, when did you first...         6  )
(7,                     Column       Name  Age    Nationality Student  \
3              OpenSourcer  Tofael486   26          China     NaN
11                 OrgSize  Tofael494   52            USA       Y
25              JobFactors  Tofael508   48          India       N
34           WorkChallenge  Tofael517   57         France       N
47      PlatformWorkedWith  Tofael530   40  Saufdi Arabia       N
49      WebFrameWorkedWith  Tofael532   42            USA       N
52  MiscTechDesireNextYear  Tofael535   75          China       N
62            Extraversion  Tofael545   56     Bangladesh     NaN
79                   Trans  Tofael562   51          China       N

                                         QuestionText  Children
3         How often do you contribute to open source?         7
11  Approximately how many people are employed by ...         7
25  Imagine that you are deciding between two job ...         7
34  Of these options, what are your greatest chall...         7
47  Which of the following platforms have you done...         7
49  Which of the following web frameworks have you...         7
52  Which of the following other frameworks, libra...         7
62    Do you prefer online chat or IRL conversations?         7
79                    Do you identify as transgender?         7  )

In [91]:
# so for loop is not the best way to loook
h.get_group(5)
#similarly we can choose any children number

,Column,Name,Age,Nationality,Student,QuestionText,Children
2,Hobbyist,Tofael485,25,Germany,NaN,Do you code as a hobby?,5
7,Student,Tofael490,48,Pakistan,N,"Are you currently enrolled in a formal, degree...",5
13,YearsCode,Tofael496,54,Germany,Y,"Including any education, how many years have y...",5
20,MgrWant,Tofael503,54,UK,N,Do you want to become a manager yourself in th...,5
35,WorkRemote,Tofael518,58,Bangladesh,N,How often do you work remotely?,5
37,ImpSyn,Tofael520,30,Pakistan,N,"For the specific work you do, and the years of...",5
40,UnitTests,Tofael523,33,Germany,NaN,Does your company regularly employ unit tests ...,5
56,BlockchainOrg,Tofael539,79,Pakistan,Y,How is your organization thinking about or imp...,5
65,SOVisitFreq,Tofael548,88,Morocco,N,How frequently would you say you visit Stack O...,5
74,SOComm,Tofael557,97,India,N,Do you consider yourself a member of the Stack...,5
80,Sexuality,Tofael563,52,France,NaN,Which of the following do you currently identi...,5

In [103]:
# creating a list name 'b'
b = []
for i in range (0, 85):
    b.append(random.randint(0,4))

In [104]:
dfN['Grade'] = b

In [105]:
dfN

,Column,Name,Age,Nationality,Student,QuestionText,Children,Boys,Grade
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...,4,4,1
1,MainBranch,Tofael484,24,UK,N,Which of the following options best describes ...,3,2,1
2,Hobbyist,Tofael485,25,Germany,NaN,Do you code as a hobby?,5,4,4
3,OpenSourcer,Tofael486,26,China,NaN,How often do you contribute to open source?,7,3,0
4,OpenSource,Tofael487,27,France,N,How do you feel about the quality of open sour...,1,3,2
...,...,...,...,...,...,...,...,...,...
80,Sexuality,Tofael563,52,France,NaN,Which of the following do you currently identi...,5,0,1
81,Ethnicity,Tofael564,53,Bangladesh,NaN,Which of the following do you identify as? Ple...,2,4,3
82,Dependents,Tofael565,54,India,NaN,"Do you have any dependents (e.g., children, el...",1,0,4
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...,4,0,3
84,SurveyEase,Tofael567,56,Morocco,N,How easy or difficult was this survey to compl...,0,2,0

In [109]:
h = dfN[['Column', 'Name', 'Age', 'Nationality', 'Student', 'QuestionText', 'Children', 'Grade' ]]

In [110]:
h

,Column,Name,Age,Nationality,Student,QuestionText,Children,Grade
0,Respondent,Tofael483,23,USA,Y,Randomized respondent ID number (not in order ...,4,1
1,MainBranch,Tofael484,24,UK,N,Which of the following options best describes ...,3,1
2,Hobbyist,Tofael485,25,Germany,NaN,Do you code as a hobby?,5,4
3,OpenSourcer,Tofael486,26,China,NaN,How often do you contribute to open source?,7,0
4,OpenSource,Tofael487,27,France,N,How do you feel about the quality of open sour...,1,2
...,...,...,...,...,...,...,...,...
80,Sexuality,Tofael563,52,France,NaN,Which of the following do you currently identi...,5,1
81,Ethnicity,Tofael564,53,Bangladesh,NaN,Which of the following do you identify as? Ple...,2,3
82,Dependents,Tofael565,54,India,NaN,"Do you have any dependents (e.g., children, el...",1,4
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...,4,3
84,SurveyEase,Tofael567,56,Morocco,N,How easy or difficult was this survey to compl...,0,0

In [111]:
newh = h.groupby(['Children', 'Grade'])

In [112]:
newh

In [113]:
for i in newh:
    print (i)

((0, 0),                     Column       Name  Age Nationality Student  \
44  LanguageDesireNextYear  Tofael527   37       India       N
63              ScreenName  Tofael546   65       India     NaN
68             SOTimeSaved  Tofael551   91         USA       Y
73                EntTeams  Tofael556   96  Bangladesh       Y
84              SurveyEase  Tofael567   56     Morocco       N

                                         QuestionText  Children  Grade
44  Which of the following programming, scripting,...         0      0
63                               What do you call it?         0      0
68  Think back to the last time you solved a codin...         0      0
73  Have you ever used Stack Overflow for Enterpri...         0      0
84  How easy or difficult was this survey to compl...         0      0  )
((0, 1),            Column       Name  Age Nationality Student  \
10       EduOther  Tofael493   51      Canada     NaN
17         JobSat  Tofael500   51       India       N
19       MgrMoney  Tofael502   53         USA     NaN
31  ConvertedComp  Tofael514   54          UK     NaN
32    WorkWeekHrs  Tofael515   55     Germany       N

                                         QuestionText  Children  Grade
10  Which of the following types of non-degree edu...         0      1
17  How satisfied are you with your current job? (...         0      1
19  Do you believe that you need to be a manager t...         0      1
31  Salary converted to annual USD salaries using ...         0      1
32   On average, how many hours per week do you work?         0      1  )
((0, 2),            Column       Name  Age Nationality Student  \
69  SOHowMuchTime  Tofael552   92          UK       N

                                         QuestionText  Children  Grade
69  About how much time did you save? If you're no...         0      2  )
((0, 3),       Column       Name  Age Nationality Student  \
8    EdLevel  Tofael491   49     Morocco       Y
12   DevType  Tofael495   53          UK       Y
59  ITperson  Tofael542   35     Germany       N

                                         QuestionText  Children  Grade
8   Which of the following best describes the high...         0      3
12  Which of the following describe you? Please se...         0      3
59   Are you the "IT support person" for your family?         0      3  )
((0, 4),           Column       Name  Age    Nationality Student  \
28  CurrencyDesc  Tofael511   51  Saufdi Arabia       Y

                                         QuestionText  Children  Grade
28  Which currency do you use day-to-day? If your ...         0      4  )
((1, 2),         Column       Name  Age Nationality Student  \
4   OpenSource  Tofael487   27      France       N
16   CareerSat  Tofael499   50  Bangladesh       N
54       OpSys  Tofael537   77  Bangladesh       N
72      SOJobs  Tofael555   95      France       Y
78      Gender  Tofael561   50     Germany       N

                                         QuestionText  Children  Grade
4   How do you feel about the quality of open sour...         1      2
16  Overall, how satisfied are you with your caree...         1      2
54  What is the primary operating system in which ...         1      2
72  Have you ever used or visited Stack Overflow J...         1      2
78  Which of the following do you currently identi...         1      2  )
((1, 3),            Column       Name  Age    Nationality Student  \
14     Age1stCode  Tofael497   48          China       N
38        CodeRev  Tofael521   31            USA       Y
66      SOVisitTo  Tofael549   89  Saufdi Arabia       Y
70      SOAccount  Tofael553   93        Germany       N
75  WelcomeChange  Tofael558   98       Pakistan       Y

                                         QuestionText  Children  Grade
14  At what age did you write your first line of c...         1      3
38           Do you review code as part of your work?         1      3
66  I visit Stack Overflow to... (check all that a...         1      3
70              Do you have a Stack Overflow account?         1      3
75  Compared to last year, how welcome do you feel...         1      3  )
((1, 4),         Column       Name  Age Nationality Student  \
82  Dependents  Tofael565   54       India     NaN

                                         QuestionText  Children  Grade
82  Do you have any dependents (e.g., children, el...         1      4  )
((2, 1),                 Column       Name  Age Nationality Student  \
21             JobSeek  Tofael504   44     Germany       Y
42        PurchaseWhat  Tofael525   35      France       Y
43  LanguageWorkedWith  Tofael526   36  Bangladesh       Y
45  DatabaseWorkedWith  Tofael528   38    Pakistan       Y
58          BetterLife  Tofael541   34          UK       Y
67        SOFindAnswer  Tofael550   90      Canada       N

                                         QuestionText  Children  Grade
21  Which of the following best describes your cur...         2      1
42  What level of influence do you, personally, ha...         2      1
43  Which of the following programming, scripting,...         2      1
45  Which of the following database environments h...         2      1
58  Do you think people born today will have a bet...         2      1
67  On average, how many times a week do you find ...         2      1  )
((2, 2),                     Column       Name  Age Nationality Student  \
46  DatabaseDesireNextYear  Tofael529   39     Morocco       N

                                         QuestionText  Children  Grade
46  Which of the following database environments h...         2      2  )
((2, 3),        Column       Name  Age Nationality Student  \
18   MgrIdiot  Tofael501   52    Pakistan     NaN
81  Ethnicity  Tofael564   53  Bangladesh     NaN

                                         QuestionText  Children  Grade
18  How confident are you that your manager knows ...         2      3
81  Which of the following do you identify as? Ple...         2      3  )
((2, 4),    Column       Name  Age Nationality Student  \
77    Age  Tofael560   49          UK       N

                                         QuestionText  Children  Grade
77  What is your age (in years)? If you prefer not...         2      4  )
((3, 0),           Column       Name  Age Nationality Student  \
76  SONewContent  Tofael559   48         USA       N

                                         QuestionText  Children  Grade
76  Would you like to see any of the following on ...         3      0  )
((3, 1),          Column       Name  Age Nationality Student  \
1    MainBranch  Tofael484   24          UK       N
41  PurchaseHow  Tofael524   34       China     NaN

                                         QuestionText  Children  Grade
1   Which of the following options best describes ...         3      1
41  How does your company make decisions about pur...         3      1  )
((3, 2),         Column       Name  Age Nationality Student  \
39  CodeRevHrs  Tofael522   32          UK       N

                                         QuestionText  Children  Grade
39  On average, how many hours per week do you spe...         3      2  )
((3, 3),                     Column       Name  Age Nationality Student  \
6                  Country  Tofael489   29       India       Y
29               CompTotal  Tofael512   52      Canada       N
48  PlatformDesireNextYear  Tofael531   41      Canada       N

                                         QuestionText  Children  Grade
6           In which country do you currently reside?         3      3
29  What is your current total compensation (salar...         3      3
48  Which of the following platforms have you done...         3      3  )
((3, 4),        Column       Name  Age Nationality Student  \
5  Employment  Tofael488   28  Bangladesh       N

                                        QuestionText  Children  Grade
5  Which of the following best describes your cur...         3      4  )
((4, 0),           Column       Name  Age Nationality Student  \
22  LastHireDate  Tofael505   45       China       N
33      WorkPlan  Tofael516   56       China       N
60         OffOn  Tofael543   36       China       Y

                                         QuestionText  Children  Grade
22  When was the last time that you took a job wit...         4      0
33            How structured or planned is your work?         4      0
60        Have you tried turning it off and on again?         4      0  )
((4, 1),                 Column       Name  Age Nationality Student  \
0           Respondent  Tofael483   23         USA       Y
51  MiscTechWorkedWith  Tofael534   74     Germany       Y

                                         QuestionText  Children  Grade
0   Randomized respondent ID number (not in order ...         4      1
51  Which of the following other frameworks, libra...         4      1  )
((4, 2),           Column       Name  Age Nationality Student  \
15  YearsCodePro  Tofael498   49      France       Y
26  ResumeUpdate  Tofael509   49    Pakistan       Y
57  BlockchainIs  Tofael540   80         USA       Y

                                         QuestionText  Children  Grade
15  How many years have you coded professionally (...         4      2
26  Think back to the last time you updated your r...         4      2
57  Blockchain / cryptocurrency technology is prim...         4      2  )
((4, 3),           Column       Name  Age Nationality Student  \
23       LastInt  Tofael506   46      France       Y
83  SurveyLength  Tofael566   55    Pakistan       Y

                                         QuestionText  Children  Grade
23  In your most recent successful job interview (...         4      3
83  How do you feel about the length of the survey...         4      3  )
((4, 4),         Column       Name  Age Nationality Student  \
55  Containers  Tofael538   78       India       N
71  SOPartFreq  Tofael554   94       China       Y

                                         QuestionText  Children  Grade
55  How do you use containers (Docker, Open Contai...         4      4
71  How frequently would you say you participate i...         4      4  )
((5, 0),         Column       Name  Age Nationality Student  \
35  WorkRemote  Tofael518   58  Bangladesh       N
74      SOComm  Tofael557   97       India       N

                                         QuestionText  Children  Grade
35                    How often do you work remotely?         5      0
74  Do you consider yourself a member of the Stack...         5      0  )
((5, 1),        Column       Name  Age Nationality Student  \
80  Sexuality  Tofael563   52      France     NaN

                                         QuestionText  Children  Grade
80  Which of the following do you currently identi...         5      1  )
((5, 2),          Column       Name  Age Nationality Student  \
13    YearsCode  Tofael496   54     Germany       Y
65  SOVisitFreq  Tofael548   88     Morocco       N

                                         QuestionText  Children  Grade
13  Including any education, how many years have y...         5      2
65  How frequently would you say you visit Stack O...         5      2  )
((5, 3),      Column       Name  Age Nationality Student  \
7   Student  Tofael490   48    Pakistan       N
37   ImpSyn  Tofael520   30    Pakistan       N

                                         QuestionText  Children  Grade
7   Are you currently enrolled in a formal, degree...         5      3
37  For the specific work you do, and the years of...         5      3  )
((5, 4),            Column       Name  Age Nationality Student  \
2        Hobbyist  Tofael485   25     Germany     NaN
20        MgrWant  Tofael503   54          UK       N
40      UnitTests  Tofael523   33     Germany     NaN
56  BlockchainOrg  Tofael539   79    Pakistan       Y

                                         QuestionText  Children  Grade
2                             Do you code as a hobby?         5      4
20  Do you want to become a manager yourself in th...         5      4
40  Does your company regularly employ unit tests ...         5      4
56  How is your organization thinking about or imp...         5      4  )
((6, 1),                     Column       Name  Age Nationality Student  \
50  WebFrameDesireNextYear  Tofael533   43          UK       N
61             SocialMedia  Tofael544   37      France     NaN
64              SOVisit1st  Tofael547   34    Pakistan       N

                                         QuestionText  Children  Grade
50  Which of the following web frameworks have you...         6      1
61        What social media site do you use the most?         6      1
64  To the best of your memory, when did you first...         6      1  )
((6, 2),         Column       Name  Age Nationality Student  \
53  DevEnviron  Tofael536   76      France       Y

                                         QuestionText  Children  Grade
53  Which development environment(s) do you use re...         6      2  )
((6, 3),             Column       Name  Age Nationality Student  \
27  CurrencySymbol  Tofael510   50     Morocco       Y

                                         QuestionText  Children  Grade
27  Which currency do you use day-to-day? If your ...         6      3  )
((6, 4),             Column       Name  Age    Nationality Student  \
9   UndergradMajor  Tofael492   50  Saufdi Arabia       N
24        FizzBuzz  Tofael507   47     Bangladesh       N
30        CompFreq  Tofael513   53            USA       Y
36         WorkLoc  Tofael519   59          India       Y

                                         QuestionText  Children  Grade
9   What was your main or most important field of ...         6      4
24  Have you ever been asked to solve FizzBuzz in ...         6      4
30   Is that compensation weekly, monthly, or yearly?         6      4
36                    Where would you prefer to work?         6      4  )
((7, 0),                 Column       Name  Age Nationality Student  \
3          OpenSourcer  Tofael486   26       China     NaN
49  WebFrameWorkedWith  Tofael532   42         USA       N

                                         QuestionText  Children  Grade
3         How often do you contribute to open source?         7      0
49  Which of the following web frameworks have you...         7      0  )
((7, 1),                     Column       Name  Age Nationality Student  \
25              JobFactors  Tofael508   48       India       N
52  MiscTechDesireNextYear  Tofael535   75       China       N
62            Extraversion  Tofael545   56  Bangladesh     NaN

                                         QuestionText  Children  Grade
25  Imagine that you are deciding between two job ...         7      1
52  Which of the following other frameworks, libra...         7      1
62    Do you prefer online chat or IRL conversations?         7      1  )
((7, 2),    Column       Name  Age Nationality Student  \
79  Trans  Tofael562   51       China       N

                       QuestionText  Children  Grade
79  Do you identify as transgender?         7      2  )
((7, 3),                 Column       Name  Age    Nationality Student  \
11             OrgSize  Tofael494   52            USA       Y
47  PlatformWorkedWith  Tofael530   40  Saufdi Arabia       N

                                         QuestionText  Children  Grade
11  Approximately how many people are employed by ...         7      3
47  Which of the following platforms have you done...         7      3  )
((7, 4),            Column       Name  Age Nationality Student  \
34  WorkChallenge  Tofael517   57      France       N

                                         QuestionText  Children  Grade
34  Of these options, what are your greatest chall...         7      4  )

In [114]:
newh.get_group((4, 3))
# a group who have 4 children with grade 3

,Column,Name,Age,Nationality,Student,QuestionText,Children,Grade
23,LastInt,Tofael506,46,France,Y,In your most recent successful job interview (...,4,3
83,SurveyLength,Tofael566,55,Pakistan,Y,How do you feel about the length of the survey...,4,3

In [115]:
newh = h.groupby(['Children', 'Grade']).size()

In [116]:
newh
# see the value below and understand the change

Children  Grade
0         0        5
          1        5
          2        1
          3        3
          4        1
1         2        5
          3        5
          4        1
2         1        6
          2        1
          3        2
          4        1
3         0        1
          1        2
          2        1
          3        3
          4        1
4         0        3
          1        2
          2        3
          3        2
          4        2
5         0        2
          1        1
          2        2
          3        2
          4        4
6         1        3
          2        1
          3        1
          4        4
7         0        2
          1        3
          2        1
          3        2
          4        1
dtype: int64

In [117]:
newh = h.groupby(['Children', 'Grade']).count()
# same but show also other column with same data

In [118]:
newh

                Column  Name  Age  Nationality  Student  QuestionText
Children Grade
0        0           5     5    5            5        4             5
         1           5     5    5            5        2             5
         2           1     1    1            1        1             1
         3           3     3    3            3        3             3
         4           1     1    1            1        1             1
1        2           5     5    5            5        5             5
         3           5     5    5            5        5             5
         4           1     1    1            1        0             1
2        1           6     6    6            6        6             6
         2           1     1    1            1        1             1
         3           2     2    2            2        0             2
         4           1     1    1            1        1             1
3        0           1     1    1            1        1             1
         1           2     2    2            2        1             2
         2           1     1    1            1        1             1
         3           3     3    3            3        3             3
         4           1     1    1            1        1             1
4        0           3     3    3            3        3             3
         1           2     2    2            2        2             2
         2           3     3    3            3        3             3
         3           2     2    2            2        2             2
         4           2     2    2            2        2             2
5        0           2     2    2            2        2             2
         1           1     1    1            1        0             1
         2           2     2    2            2        2             2
         3           2     2    2            2        2             2
         4           4     4    4            4        2             4
6        1           3     3    3            3        2             3
         2           1     1    1            1        1             1
         3           1     1    1            1        1             1
         4           4     4    4            4        4             4
7        0           2     2    2            2        1             2
         1           3     3    3            3        2             3
         2           1     1    1            1        1             1
         3           2     2    2            2        2             2
         4           1     1    1            1        1             1

In [139]:
newh = h.groupby(['Children']).get_group((0))

In [140]:
newh

,Column,Name,Age,Nationality,Student,QuestionText,Children,Grade
8,EdLevel,Tofael491,49,Morocco,Y,Which of the following best describes the high...,0,3
10,EduOther,Tofael493,51,Canada,NaN,Which of the following types of non-degree edu...,0,1
12,DevType,Tofael495,53,UK,Y,Which of the following describe you? Please se...,0,3
17,JobSat,Tofael500,51,India,N,How satisfied are you with your current job? (...,0,1
19,MgrMoney,Tofael502,53,USA,NaN,Do you believe that you need to be a manager t...,0,1
28,CurrencyDesc,Tofael511,51,Saufdi Arabia,Y,Which currency do you use day-to-day? If your ...,0,4
31,ConvertedComp,Tofael514,54,UK,NaN,Salary converted to annual USD salaries using ...,0,1
32,WorkWeekHrs,Tofael515,55,Germany,N,"On average, how many hours per week do you work?",0,1
44,LanguageDesireNextYear,Tofael527,37,India,N,"Which of the following programming, scripting,...",0,0
59,ITperson,Tofael542,35,Germany,N,"Are you the ""IT support person"" for your family?",0,3
63,ScreenName,Tofael546,65,India,NaN,What do you call it?,0,0
68,SOTimeSaved,Tofael551,91,USA,Y,Think back to the last time you solved a codin...,0,0
69,SOHowMuchTime,Tofael552,92,UK,N,About how much time did you save? If you're no...,0,2
73,EntTeams,Tofael556,96,Bangladesh,Y,Have you ever used Stack Overflow for Enterpri...,0,0
84,SurveyEase,Tofael567,56,Morocco,N,How easy or difficult was this survey to compl...,0,0

In [153]:
newh = h.groupby(['Children'])['Age', 'Grade'].agg(['mean', 'max', 'min'])
#compared with Children only
# what will happen if ['Age', 'Grade'] is not used, need to check

<ipython-input-153-60c4ed5c5e9b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  newh = h.groupby(['Children'])['Age', 'Grade'].agg(['mean', 'max', 'min'])

In [154]:
newh

                Age             Grade
               mean max min      mean max min
Children
0         59.266667  96  35  1.333333   4   0
1         64.727273  98  27  2.636364   4   2
2         47.000000  90  34  1.800000   4   1
3         36.000000  52  24  2.125000   4   0
4         57.083333  94  23  1.833333   4   0
5         56.181818  97  25  2.454545   4   0
6         49.888889  76  34  2.666667   4   1
7         49.666667  75  26  1.666667   4   0

In [141]:
newh = h.groupby(['Children', 'Grade']).get_group((0,1))

In [142]:
newh

,Column,Name,Age,Nationality,Student,QuestionText,Children,Grade
10,EduOther,Tofael493,51,Canada,NaN,Which of the following types of non-degree edu...,0,1
17,JobSat,Tofael500,51,India,N,How satisfied are you with your current job? (...,0,1
19,MgrMoney,Tofael502,53,USA,NaN,Do you believe that you need to be a manager t...,0,1
31,ConvertedComp,Tofael514,54,UK,NaN,Salary converted to annual USD salaries using ...,0,1
32,WorkWeekHrs,Tofael515,55,Germany,N,"On average, how many hours per week do you work?",0,1

In [145]:
newh = h.groupby(['Children', 'Grade']).agg(['mean', 'max', 'min'])
#compared with Children and grade

In [146]:
newh

                      Age
                     mean max min
Children Grade
0        0      69.000000  96  37
         1      52.800000  55  51
         2      92.000000  92  92
         3      45.666667  53  35
         4      51.000000  51  51
1        2      59.800000  95  27
         3      71.800000  98  31
         4      54.000000  54  54
2        1      46.166667  90  34
         2      39.000000  39  39
         3      52.500000  53  52
         4      49.000000  49  49
3        0      48.000000  48  48
         1      29.000000  34  24
         2      32.000000  32  32
         3      40.666667  52  29
         4      28.000000  28  28
4        0      45.666667  56  36
         1      48.500000  74  23
         2      59.333333  80  49
         3      50.500000  55  46
         4      86.000000  94  78
5        0      77.500000  97  58
         1      52.000000  52  52
         2      71.000000  88  54
         3      39.000000  48  30
         4      47.750000  79  25
6        1      38.000000  43  34
         2      76.000000  76  76
         3      50.000000  50  50
         4      52.250000  59  47
7        0      34.000000  42  26
         1      59.666667  75  48
         2      51.000000  51  51
         3      46.000000  52  40
         4      57.000000  57  57

In [147]:
newh = h.groupby(['Children', 'Grade']).Nationality.count()
# just only for Nationality

In [148]:
newh

Children  Grade
0         0        5
          1        5
          2        1
          3        3
          4        1
1         2        5
          3        5
          4        1
2         1        6
          2        1
          3        2
          4        1
3         0        1
          1        2
          2        1
          3        3
          4        1
4         0        3
          1        2
          2        3
          3        2
          4        2
5         0        2
          1        1
          2        2
          3        2
          4        4
6         1        3
          2        1
          3        1
          4        4
7         0        2
          1        3
          2        1
          3        2
          4        1
Name: Nationality, dtype: int64

In [149]:
# not working
# newh = h.groupby(['Children', 'Grade']).['Nationality', 'Age'].count()
# for Nationality and Age

In [ ]:
# https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS
# corey schafer above
# cj dojo below for python
# https://www.youtube.com/watch?v=Z1Yd7upQsXY&list=PLBZBJbE_rGRWeh5mIBhD-hhDwSEDxogDg